<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="row w-100">
                                        <div class="col-md-6">
                                            <div class="form-outline mb-0">
                                                <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="First Name"/>
                                                <small class="validatealert" *ngIf="signInForm.get('firstName')?.invalid && signInForm.get('firstName')?.touched && !(signInForm.get('firstName')?.dirty)">*Firstname is required</small>
                                                <small class="validatealert" *ngIf="signInForm.get('firstName')?.invalid && signInForm.get('firstName')?.dirty">*Enter a Valid Firstname</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline mb-0">
                                                <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name"/>
                                                <small class="validatealert" *ngIf="signInForm.get('lastName')?.invalid && signInForm.get('lastName')?.touched && !(signInForm.get('lastName')?.dirty)">*Firstname is required</small>
                                                <small class="validatealert" *ngIf="signInForm.get('lastName')?.invalid && signInForm.get('lastName')?.dirty">*Enter a Valid Firstname</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Your Email"/>
                                        <small class="validatealert" *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched && !(signInForm.get('email')?.dirty)">*Email is required</small>
                                        <small class="validatealert" *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.dirty">*Enter a Valid Email</small>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Phone Number"/>
                                        <small class="validatealert" *ngIf="signInForm.get('phoneNumber')?.invalid && signInForm.get('phoneNumber')?.touched && !(signInForm.get('phoneNumber')?.dirty)">*Phone-Number is required</small>
                                        <small class="validatealert" *ngIf="signInForm.get('phoneNumber')?.invalid && signInForm.get('phoneNumber')?.dirty">*Enter a Valid Phone number</small>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="address" class="form-control" formControlName="address" placeholder="Address"/>
                                        <small class="validatealert" *ngIf="signInForm.get('address')?.invalid && signInForm.get('address')?.touched && !(signInForm.get('address')?.dirty)">*Address is required</small>
                                        <small class="validatealert" *ngIf="signInForm.get('address')?.invalid && signInForm.get('address')?.dirty">*Enter a Valid Address</small>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-camera fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="file" id="profilePhoto" class="form-control" formControlName="profilePhoto" placeholder="Upload Profile Photo"/>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"/>
                                        <small class="validatealert" *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched && !(signInForm.get('password')?.dirty)">*Passwords is required</small>
                                        <small class="validatealert" *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.dirty">*Enter a Valid Password</small>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Repeat your password"/>
                                    </div>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" formControlName="terms" id="terms"/>
                                    <label class="form-check-label" for="terms">
                                        I agree to all statements in <a href="#!">Terms of service</a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="signInForm.invalid">Register</button>
                                </div>

                            </form>

                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                class="img-fluid" alt="Sample image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>