<div class="container card shadow-sm p-4 bg-white rounded">
    <form [formGroup]="searchForm" (ngSubmit)="searchData()">
        <div class="search-section">
            <div class="mb-4 w-45">
                <label for="category" class="form-label">
                    <i class="fa-solid fa-list"></i> Category
                </label>
                <select id="category" class="form-select" formControlName="category">
                    <option value="">Select Category</option>
                    <option value="Men-Cloth">Men-Cloth</option>
                    <option value="furniture">Furniture</option>
                    <option value="clothing">Clothing</option>
                </select>
            </div>

            <div class="mb-4 w-45">
                <label for="subcategory" class="form-label">
                    <i class="fa-solid fa-list-ul"></i> SubCategory
                </label>
                <select id="subcategory" class="form-select" formControlName="subcategory">
                    <option value="">Select SubCategory</option>
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Casual-Shirt">Casual-Shirt</option>
                    <option value="Sherwani">Sherwani</option>
                </select>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary mt-3" type="submit" [disabled]="searchForm.invalid">
                <i class="fa-solid fa-search"></i> Search
            </button>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 col-lg-3" *ngFor="let product of products">
            <div class="card product-card">
                <div id="carouselExampleControls{{product.id}}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="product.filePath.startsWith('http') ? product.filePath : 'https://localhost:7185/' + product.filePath" class="d-block w-100">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{ product.name }}</h6>
                    <p class="price">₹{{ product.unitPrice }} <span class="price-details">onwards</span></p>
                    <hr>
                    <p class="description"> {{product.description}}</p>
                    <p class="description"> <span class="info">Category = </span> {{product.category}}</p>
                    <p class="description"> <span class="info">subcategory = </span> {{product.subCategory}}</p>
                    <p class="description"> <span class="info">Quantity = </span>{{product.availableQuantity}}</p>
                    <p class="delivery">Free Delivery</p>
                    <div class="rating">
                        <span class="badge bg-success">{{ 4.3 }} ★</span> {{ 1080 }}
                        Reviews
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
