<!-- Main Slider -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="assets/kidspage/kid-slider-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/kidspage/kid-slider-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/kidspage/kid-slider-3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/kidspage/kid-slider-4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/kidspage/kid-slider-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<hr class="mt-5">

<!-- Brand Container -->
<div class="brand-container">
  <h1 class="mt-3">Favourite Brands</h1>

  <div class="image-container">
    <img src="assets/kidspage/brandpage.png" alt="">
  </div>

  <h1 class="mt-5">Iconic Brands</h1>
  <div class="image-container category">
    <img src="assets/kidspage/brand.png" alt="">
  </div>

  <h1 class="mt-5">Fashion and Essentials</h1>
  <div class="image-container category">
    <img src="assets/kidspage/fashion1.png" alt="">
    <img src="assets/kidspage/fashion2.png" alt="">
  </div>

  <h1 class="mt-5">Explore More</h1>
  <div class="image-container explore category ">
    <div>
      <img src="assets/kidspage/explore-1.jpg" alt="" srcset="" class="p-0">
    </div>
    <div>
      <img src="assets/kidspage/explore-2.jpg" alt="" srcset="" class="m-0 p-0">
    </div>
  </div>

  <div class="image-container explore category ">
    <div>
      <img src="assets/kidspage/explore-3.jpg" alt="" srcset="" class="p-0">
    </div>
    <div>
      <img src="assets/kidspage/explore-4.jpg" alt="" srcset="" class="m-0 p-0">
    </div>
  </div>

  <h1 class="mt-5">The Kids Space</h1>
  <div class="image-container explore category ">
    <div>
      <img src="assets/kidspage/space-1.jpg" alt="" srcset="" class="p-0">
    </div>
    <div>
      <img src="assets/kidspage/space-2.jpg" alt="" srcset="" class="m-0 p-0">
    </div>
  </div>
</div>