<div class="brand-container">
    <div class="image-container">
        <img src="assets/furniture/banner-1.jpg" alt="">
    </div>

    <h1 class="mt-5">NICE TO SEE YOU, COME ON IN!</h1>
    <div class="image-container category p-0">
      <div>
        <img src="assets/furniture/bed-1.jpg" alt="" srcset="" class="m-0">
      </div>
      <div>
        <img src="assets/furniture/bed-2.jpg" alt="" srcset="" class="m-0 p-0">
      </div>
    </div>

    <div class="image-container category p-0">
        <div>
          <img src="assets/furniture/decor-1.jpg" alt="" srcset="" class="m-0">
        </div>
        <div>
          <img src="assets/furniture/decor-2.jpg" alt="" srcset="" class="m-0 p-0">
        </div>
      </div>

      <div class="image-container category p-0">
        <div>
          <img src="assets/furniture/kitchen-1.jpg" alt="" srcset="" class="m-0">
        </div>
        <div>
          <img src="assets/furniture/bath-1.jpg" alt="" srcset="" class="m-0 p-0">
        </div>
      </div>
</div>