<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <img src="assets/logo.png" alt="" srcset="" class="logo-image" routerLink="">
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Shwabhav Shopify</h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content">


          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false"
              routerLink="/men">Men</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header men-header">Topwear</h6>
              </li>
              <li><a class="dropdown-item" routerLink="/product/Men-Cloth/T-Shirt">T-Shirts</a></li>
              <li><a class="dropdown-item" routerLink="/product/Men-Cloth/Casual-Shirt">Casual Shirts</a></li>
              <li><a class="dropdown-item" routerLink="/product/Men-Cloth/Sherwani">Sherwani</a></li>
              <li><a class="dropdown-item" href="#">Sweatshirts</a></li>
              <li><a class="dropdown-item" href="#">Sweaters</a></li>
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Blazers & Coats</a></li>
              <li><a class="dropdown-item" href="#">Suits</a></li>
              <li><a class="dropdown-item" href="#">Rain Jackets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header men-header">Indian & Festive Wear</h6>
              </li>
              <li><a class="dropdown-item" href="#">Kurtas & Kurta Sets</a></li>
              <li><a class="dropdown-item" href="#">Sherwanis</a></li>
              <li><a class="dropdown-item" href="#">Nehru Jackets</a></li>
              <li><a class="dropdown-item" href="#">Dhotis</a></li>
            </ul>
          </li>



          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false"
              routerLink="/women">Women</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header women-header">Topwear</h6>
              </li>
              <li><a class="dropdown-item" href="#">T-Shirts</a></li>
              <li><a class="dropdown-item" href="#">Casual Shirts</a></li>
              <li><a class="dropdown-item" href="#">Formal Shirts</a></li>
              <li><a class="dropdown-item" href="#">Sweatshirts</a></li>
              <li><a class="dropdown-item" href="#">Sweaters</a></li>
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Blazers & Coats</a></li>
              <li><a class="dropdown-item" href="#">Suits</a></li>
              <li><a class="dropdown-item" href="#">Rain Jackets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header women-header">Indian & Festive Wear</h6>
              </li>
              <li><a class="dropdown-item" href="#">Kurtas & Kurta Sets</a></li>
              <li><a class="dropdown-item" href="#">Sherwanis</a></li>
              <li><a class="dropdown-item" href="#">Nehru Jackets</a></li>
              <li><a class="dropdown-item" href="#">Dhotis</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false"
              routerLink="/kids">Kids</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header kid-header">Topwear</h6>
              </li>
              <li><a class="dropdown-item" href="#">T-Shirts</a></li>
              <li><a class="dropdown-item" href="#">Casual Shirts</a></li>
              <li><a class="dropdown-item" href="#">Formal Shirts</a></li>
              <li><a class="dropdown-item" href="#">Sweatshirts</a></li>
              <li><a class="dropdown-item" href="#">Sweaters</a></li>
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Blazers & Coats</a></li>
              <li><a class="dropdown-item" href="#">Suits</a></li>
              <li><a class="dropdown-item" href="#">Rain Jackets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header kid-header">Indian & Festive Wear</h6>
              </li>
              <li><a class="dropdown-item" href="#">Kurtas & Kurta Sets</a></li>
              <li><a class="dropdown-item" href="#">Sherwanis</a></li>
              <li><a class="dropdown-item" href="#">Nehru Jackets</a></li>
              <li><a class="dropdown-item" href="#">Dhotis</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false"
              routerLink="/furniture">Home & Furniture</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header furniture-header">Topwear</h6>
              </li>
              <li><a class="dropdown-item" href="#">T-Shirts</a></li>
              <li><a class="dropdown-item" href="#">Casual Shirts</a></li>
              <li><a class="dropdown-item" href="#">Formal Shirts</a></li>
              <li><a class="dropdown-item" href="#">Sweatshirts</a></li>
              <li><a class="dropdown-item" href="#">Sweaters</a></li>
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Blazers & Coats</a></li>
              <li><a class="dropdown-item" href="#">Suits</a></li>
              <li><a class="dropdown-item" href="#">Rain Jackets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header furniture-header">Indian & Festive Wear</h6>
              </li>
              <li><a class="dropdown-item" href="#">Kurtas & Kurta Sets</a></li>
              <li><a class="dropdown-item" href="#">Sherwanis</a></li>
              <li><a class="dropdown-item" href="#">Nehru Jackets</a></li>
              <li><a class="dropdown-item" href="#">Dhotis</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false"
              routerLink="/electronics">Electronics</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header electronic-header">Topwear</h6>
              </li>
              <li><a class="dropdown-item" href="#">T-Shirts</a></li>
              <li><a class="dropdown-item" href="#">Casual Shirts</a></li>
              <li><a class="dropdown-item" href="#">Formal Shirts</a></li>
              <li><a class="dropdown-item" href="#">Sweatshirts</a></li>
              <li><a class="dropdown-item" href="#">Sweaters</a></li>
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Blazers & Coats</a></li>
              <li><a class="dropdown-item" href="#">Suits</a></li>
              <li><a class="dropdown-item" href="#">Rain Jackets</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header electronic-header">Indian & Festive Wear</h6>
              </li>
              <li><a class="dropdown-item" href="#">Kurtas & Kurta Sets</a></li>
              <li><a class="dropdown-item" href="#">Sherwanis</a></li>
              <li><a class="dropdown-item" href="#">Nehru Jackets</a></li>
              <li><a class="dropdown-item" href="#">Dhotis</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown mx-2">
            <a class="nav-link active" id="navbarDropdown" aria-current="page" aria-expanded="false" href="#">Books &
              Novels</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li></li>
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <form class="search-area d-flex me-auto ms-4" role="search">
              <input class="form-control me-2" type="search" placeholder="Search for products" aria-label="Search">
            </form>
          </li>



          <li class="nav-item mx-5 text-center icon-section dropdown">
            <i class="fa-regular fa-user fa-xl"></i>
            <div class="profile-text" id="navbarDropdown" aria-expanded="false">Profile</div>
            <ul class="dropdown-menu custom-dropdown icon-menu" aria-labelledby="navbarDropdown">
              <li>
                <h6 class="dropdown-header icon-header pb-0">Welcome {{username || "User"}}</h6>
                <span class="dropdown-item pt-0">To access account and manage orders</span>
              </li>
              <li>
                <a routerLink="/login" *ngIf="!(isLoggedin)">
                  <button class="login-btn">LOGIN/SIGNUP</button>
                </a>
                <a routerLink="/login" *ngIf="isLoggedin">
                  <button class="login-btn" (click)="logout()">LOGOUT</button>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/orders">Orders</a></li>
              <li><a class="dropdown-item" routerLink="/wishlist">Wishlist</a></li>
              <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="#">Gift Cards</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
            </ul>
          </li>
          <li class="nav-item text-center icon-section">
            <i class="fa-regular fa-heart fa-xl"></i>
            <div>
              <a class="profile-text" routerLink="/wishlist">
                WishList
              </a>
            </div>
          </li>
          <li class="nav-item mx-5 text-center icon-section">
            <i class="fa-solid fa-bag-shopping fa-xl fa-bounce"></i>
            <div>
              <a class="profile-text" routerLink="/cart">
                Bag
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>