<!-- Main Slider -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="assets/slider1.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/slider2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/slider3.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/slider4.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/slider5.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<!-- <div class="info-section text-center">
  <h2 class="info-title">Lowest Prices, Best Quality Shopping</h2>
  <img src="assets/return.png" class="info-image" alt="Return Image">
  <p class="info-subtitle">Enjoy the Day with Our Exclusive Offers!</p>
</div>
 -->

<hr class="mt-5">

<div class="image-container">
  <h1 class="mt-3">Discover brands worth your choice...</h1>


  <div class="cloth-carousel container">
    <div class="section-heading mt-3"><u></u>Trending in Indian Wear..</div>
    <div class="carousel-area mt-2">
      <div id="clothCarousel" class="carousel slide subcarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/men-cloth-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/men-cloth-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/men-cloth-3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/men-cloth-4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/women-cloth-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/women-cloth-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/women-cloth-3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/women-cloth-4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="sports-carousel container">
    <div class="section-heading mt-3 sport">Gear Up for Greatness
      <div id="clothCarousel" class="carousel slide subcarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/sport-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/sport-5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-7.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/sport-8.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>


  <div class="sports-carousel container">
    <div class="section-heading mt-3 sport">Watches That Define Your Style
      <div id="clothCarousel" class="carousel slide subcarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/watch-1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-2.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-3.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-4.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="row">
              <div class="col-3">
                <img src="assets/watch-5.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-6.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-7.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                <img src="assets/watch-8.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


